mcp[cli]
semantic-kernel

azure-keyvault-secrets
azure-cosmos
azure-identity
azure-mgmt-web
azure-mgmt-storage
azure-storage-blob
azure.appconfiguration
azure.appconfiguration.provider

tenacity
uv

fastapi
fastapi-mcp

gunicorn
uvicorn

python-dotenv

#tools support
autogen-agentchat==0.5.7
autogen_ext==0.5.7
tiktoken
sqlparse
pyodbc

#code interpreter
azure-ai-projects

##wikipedia
wikipedia

##Bing
azure-cognitiveservices-search-websearch